body {
    font-size: max(3vw, 16px);
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li>div:nth-of-type(1) {
    font-family: sans-serif;
}

li:after {
    content: '';
    display: inline-block;
    width: 200%;
    height: 100%;
    margin: -1px -100% 1px 0;
    border-bottom: 1px dotted rgb(86, 82, 82);
}

.controls {
    display: flex;
    flex-direction: row;
}

button {
    margin: 5px;
}

.stress {
    color: rgb(208, 80, 80);
}